<div class="div container">
    <div class="row">
      <% for x in @news["Data"] %>
        <div class="div col-sm">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="<%= x["imageurl"] %>" alt="Crypto Thumbnail">
            <div class="card-body">
              <h5 class="card-title"><%= x["title"]%></h5>
              <p class="card-text"><%= x["body"] %></p>
              <a href="<%= x["url"] %>" class="btn btn-dark">Read more...</a>
            </div>
          </div>
        <br/>
        </div>
      <% end %>
    </div>
</div>
