<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% @news["Data"] %>
<ul>
<% for x in @news["Data"] %>
    <img src="<%= x["imageurl"] %>"><br/>
    <strong><%= x["title"] %></strong><br/>
    <%= x["body"] %><br/><br/>
    <a href="<%= x["url"] %>">Read more...</a><br/><hr><br/>
    <% end %>
</ul>
